/* navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.here {
    background-color: goldenrod;
    color: white;
  }

/* general */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: none;
    border: none;
    color:goldenrod;
  
}
table{
  border-spacing: 7px;
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  text-align: center;
}
th {
  font-size: larger;
}

#submit{
  font-size: 20px;
}

input {
  width: 400px;
  height: 40px;
  font-size: 20px;
}

main {
 margin: 10px;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    text-align: center;
    float: left;
    width: 20%;
    padding: 10px;
  }
  .row{
    margin-left:10%;
    margin-right:10%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #header {
      max-height: fit-content;
      font-weight: bolder;
      border-style: solid;
     border-color: goldenrod;
  }

  #remove {
    font-size: 15.5px !important;
  }

  #remove :hover {
    background-color: #ddd;
    color: black;
  }

  li {
    list-style-type: none;
  }
  /* #stock p:hover {
    background-color: #ddd;
    color: black;
  } */

  .analyze {
    margin-left: 40%;
   
    font-size: 30px;
  }
  .analyze a {
    color:rgb(182, 21, 21) !important;
  }

/* analysis page */
.columnAnalyze {
  text-align: center;
  float: left;
  width: 25%;
  padding: 10px;
}
#sortable {
  margin-left:15%;
  margin-right:15%;
}

.analyzeUnorderedList{
      
  margin:0;
  padding:0;
  list-style: none;
     
     
  
 }  
 .analyzeUnorderedList .analyzeList{
     
     float: left;
     width: 25%;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: goldenrod ;
     
    }
 
    .analyzeUnorderedList .analyzeList a{
        
        text-decoration: none;
        color:#fff;  //white
        
        
    }   
    
    .analyzeUnorderedList li li{
        
        display:none;
        background: black;
        color: #fff;

 
        
    }
    .analyzeUnorderedList li li button{
        
        text-decoration: none;
        color:#fff;
        
    }
    .analyzeUnorderedList li li:hover{
        
        background: rgb(28, 28, 49);
        
    }

    .analyzeResults {
      margin-top: 200px;
    }

    #reset {
      float: left;
     width: 25%;
     height: 30px;
     line-height: 30px;
     text-align: center;
  
    }
    #reset:hover {
      color:rgb(250, 250, 250);
      border:ivory;
      border-radius: 10px;
      background: rgba(218, 165, 32, 0.472) !important;
    }


  @media only screen and (max-width: 1196px) {
      p {
          font-size:13px;
      }
      #remove {
        font-size: 6px !important;
      }
      
     
  }
  @media only screen and (max-width: 786px) {
    p {
        font-size:13px;
    }
    .row{
        margin-left:5%;
        margin-right:5%;
      }
    }
      @media only screen and (max-width: 699px) {
        p {
            height:40px !important;
            padding-top:10%;
        }
      }
     @media only screen and (max-width: 490px) {
      input {
        width: 300px;
      }
}